{% extends "base.html.twig" %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            {#<br>#}
            {#<div class="panel panel-default">#}
                {#<div class="panel-heading">#}
                    {#<h5 class="panel-title"><strong>Loudest Shouts of the week</strong></h5>#}
                {#</div>#}
                {#<div class="panel-content">#}
                    {#<div class="list-group">#}
                        {#<a href="#" class="list-unstyled">1. Bakit kasi ganun?#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">2. Ang kwento ng lobo#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"><i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">3. San ba ako nagkulang?#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 1234215|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">4. WALANG FOREVER. Hindi ka#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">5. #FafaMhack <br>#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">6. Bakit kasi ganun?#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">7. Ang kwento ng lobo#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"><i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">8. San ba ako nagkulang?#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12312345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">9. WALANG FOREVER. Hindi ka#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                        {#<a href="#" class="list-unstyled">10. #FafaMhack <br>#}
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="panel panel-default mt-3">#}
                {#<div class="panel-heading">#}
                    {#<h5 class="panel-title"><strong>Top advices of the week</strong></h5>#}
                {#</div>#}
                {#<div class="panel-content">#}
                    {#<div class="list-group">#}
                        {#<a href="#" class="list-unstyled">1. "Ganto kasi yan kapag nagmh.."</a>#}
                        {#<a href="#" class="list-unstyled">2. "Minsan may mga bagay talag.."</a>#}
                        {#<a href="#" class="list-unstyled">3. "Bakit pa kasi natin kailan.."</a>#}
                        {#<a href="#" class="list-unstyled">4. "Wag mo dapat gawin yun kas.."</a>#}
                        {#<a href="#" class="list-unstyled">5. "Ndi dapat natin nilalagay .."</a>#}
                        {#<a href="#" class="list-unstyled">6. "Ganto kasi yan kapag nagma.."</a>#}
                        {#<a href="#" class="list-unstyled">7. "Minsan may mga bagay talag.."</a>#}
                        {#<a href="#" class="list-unstyled">8. "Bakit pa kasi natin kailan.."</a>#}
                        {#<a href="#" class="list-unstyled">9. "Wag mo dapat gawin yun kas.."</a>#}
                        {#<a href="#" class="list-unstyled">10. "Ndi dapat natin nilalagay .."</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>

        <div class="col-md-6">
            <div class="mb-3"></div>
            <div class="panel panel-default">
                <form class="p-3" action="" method="post" role="form">
                    <div class="panel-heading">
                        <h2 class="text-center">Shout your problem</h2>
                    </div>

                    <div class="panel-body clearfix">
                        <div class="form-group mt-3">
                            {#<label for="">Problem</label>#}
                            <textarea class="form-control" name="shout" id="" cols="20" rows="5" placeholder="Want to share something?"></textarea>
                        </div>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-danger btn-sm">Shout</button>
                        </div>
                    </div>
                </form>
            </div>

            {% for shout in shouts %}
                <div class="mb-3"></div>
                <div class="card card-danger">
                    <div class="card-header">
                        {#<div class="card-avatar">#}
                        {#<img class="img-circle" height="64px" width="64px" src="{{ asset('assets/img/antoine-barres.jpg') }}" alt="">#}
                        {#</div>#}
                        <h3 class="card-title">{{ shout.title }}</h3>
                        <p style="margin-top: -10px">by <a href="">Juan</a></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h5><span class="label label-info"><i class="fa fa-bullhorn"></i>2.5k</span></h5>
                            </li>
                            <li class="list-inline-item">
                                <h5><span class="label label-danger"><i class="fa fa-heart"></i>2.5k</span></h5>
                            </li>
                            <li class="list-inline-item">
                                <h5><span class="label label-warning"><i class="fa fa-comment"></i>2.5k</span></h5>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        {{ shout.body|slice(0,300) }}...
                    </div>
                    <div class="card-footer">
                        <div class="pull-right">
                            <a class="btn btn-outline-primary btn-round" href="">View more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mb-3"></div>
            <div class="card card-danger">
                <div class="card-header">
                    {#<div class="card-avatar">#}
                        {#<img class="img-circle" height="64px" width="64px" src="{{ asset('assets/img/antoine-barres.jpg') }}" alt="">#}
                    {#</div>#}
                    <h3 class="card-title">My Problem</h3>
                    <p style="margin-top: -10px">by <a href="">Juan</a></p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h5><span class="label label-info"><i class="fa fa-bullhorn"></i>2.5k</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><span class="label label-danger"><i class="fa fa-heart"></i>2.5k</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><span class="label label-warning"><i class="fa fa-comment"></i>2.5k</span></h5>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    {{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi velit leo, consequat eget elit ut, iaculis rhoncus eros. Vestibulum id magna sagittis ligula gravida varius quis at sem. Vestibulum et libero ipsum. Aenean quis nulla molestie, posuere sem ac, tempor massa. In tempus luctus porta. Suspendisse tincidunt id augue in blandit. Cras lacus neque, consequat quis volutpat sed, posuere non turpis. Proin dictum ante a diam faucibus consectetur sed a urna. Mauris eu massa tellus. Integer odio odio, pharetra ac consequat quis, sollicitudin vel tellus. Nullam elementum erat a risus posuere luctus. Nunc facilisis tempor eros quis molestie. Vivamus auctor tincidunt turpis, sed dapibus neque faucibus ut. Etiam a condimentum nisi"|slice(0,300) }}...
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <a class="btn btn-outline-primary btn-round" href="">View more</a>
                    </div>
                </div>
            </div>

            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Your Problem</h3>
                    <p style="margin-top: -10px">by <a href="">Juan</a></p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h5><span class="label label-info"><i class="fa fa-bullhorn"></i>2.5k</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><span class="label label-danger"><i class="fa fa-heart"></i>2.5k</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><span class="label label-warning"><i class="fa fa-comment"></i>2.5k</span></h5>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    {{ "Integer lobortis et elit sit amet sagittis. Sed pretium, ipsum ut elementum iaculis, mi nulla elementum quam, at faucibus orci velit at turpis. Ut sodales, ante at vulputate venenatis, nulla arcu hendrerit risus, vitae convallis tellus lacus et dolor. Fusce quis lobortis justo. Integer sollicitudin dui eu nulla tincidunt finibus. Nam eu commodo odio, quis blandit magna. Vestibulum faucibus consequat fermentum."|slice(0,300) }}...
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <a class="btn btn-outline-primary btn-round" href="">View more</a>
                    </div>
                </div>
            </div>

            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Our Problem</h3>
                    <p style="margin-top: -10px">by <a href="">Juan</a></p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h5><span class="label label-info"><i class="fa fa-bullhorn"></i>2.5k</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><span class="label label-danger"><i class="fa fa-heart"></i>2.5k</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><span class="label label-warning"><i class="fa fa-comment"></i>2.5k</span></h5>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    {{ "Maecenas luctus hendrerit ipsum, sit amet elementum mi maximus eget. Sed hendrerit varius erat, a egestas diam. Nulla eleifend leo sollicitudin finibus tincidunt. Duis accumsan justo et orci commodo vehicula. Sed placerat consectetur tortor, ut aliquam purus bibendum ac. Phasellus turpis ex, mattis at viverra vel, lacinia eu neque. Cras finibus ex orci, sit amet ornare diam pharetra in. Fusce lacinia pellentesque tortor id fringilla."|slice(0,300) }}...
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <a class="btn btn-outline-primary btn-round" href="">View more</a>
                    </div>
                </div>
            </div>

            {#<div class="panel panel-default">#}
                {#<div class="panel-heading clearfix">#}
                    {#<div class="col-md-2">#}
                        {#<h3 class="panel-title"><img src="avatars/8.jpg" class="img-responsive img-circle" alt="Image" height="75px" width="75px"></h3>#}
                    {#</div>#}
                    {#<div class="col-md-9" style="padding-left: 0px">#}
                        {#<h3 style="margin-bottom: 0px">mhackyu</h3>#}
                        {#<p>20 seconds ago</p>#}
                    {#</div>#}
                    {#<div class="col-md-1">#}
                        {#<i class="fa fa-map-pin fa-2x text-right"></i>#}
                        {#<!--<button type="button" class="btn btn-default"><i class="fa fa-floppy-o fa-2x text-right"></i></button>-->#}
                    {#</div>#}
                {#</div>#}
                {#<div class="panel-body">#}
                    {#<i><h3 class="text-center">"My Very Big Problem"</h3></i>#}
                    {#<p class="fa-align-justify">Eto ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi ang malaki kong problema kasi kong problema kasi kong problema kasi kong problema kasi.</p>#}

                    {#<div class="text-center">#}
                        {#<div class="btn-group">#}
                            {#<button type="button" class="btn btn-primary"><span class="badge">100k</span> Fighting</button>#}
                            {#<button type="button" class="btn btn-default"><span class="badge">10k</span> Pray</button>#}
                            {#<button type="button" class="btn btn-default"><span class="badge">2.5k</span> Make It Loud</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<!--<div class="panel-footer clearfix">-->#}
                {#<ul class="list-group">#}
                    {#<li class="list-group-item">#}
                        {#<div class="row">#}
                            {#<div class="col-md-2" style="margin-right: -20px">#}
                                {#<img src="avatars/6.jpg" class="img-responsive img-circle" alt="Image" height="48px" width="48px">#}
                            {#</div>#}
                            {#<div class="col-md-10" style="padding-left: 0px">#}
                                {#<form action="" method="post" role="form">#}
                                    {#<!--<legend>Advice</legend>-->#}
                                    {#<strong>Jen</strong>#}
                                    {#<div class="form-group">#}
                                        {#<!--<label for=""></label>-->#}
                                        {#<input type="text" class="form-control" name="" id="" placeholder="Avoid offensive words. Make it inspirational :)">#}
                                    {#</div>#}

                                    {#<button type="submit" class="btn btn-primary">Advice</button>#}
                                {#</form>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                    {#<li class="list-group-item">#}
                        {#<div class="row">#}
                            {#<div class="col-md-2" style="margin-right: -20px">#}
                                {#<img src="avatars/3.jpg" class="img-responsive img-circle" alt="Image" height="48px" width="48px">#}
                            {#</div>#}
                            {#<div class="col-md-10" style="padding-left: 0px">#}
                                {#<strong>Rena</strong>#}
                                {#<p>Kapag kasi nag ano ka gan aksd hawe asd ad hae hqwej basdb qwbe mqwbe mqwbdasmdb amsnbd amsdb mqweb mabsdmb asmdb amsdb qmwnbe amsndb asdasdb asnd qhwew vwe asd qwe asd. Kapag qwe qwie qeyuqeasd. </p>#}
                                {#<button type="button" class="btn btn-default"><span class="badge">1k</span> found helpful</button>#}
                                {#<button type="button" class="btn btn-default"><span class="badge">23</span> found not helpful</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                    {#<li class="list-group-item">#}
                        {#<div class="row">#}
                            {#<div class="col-md-2" style="margin-right: -20px">#}
                                {#<img src="avatars/2.jpg" class="img-responsive img-circle" alt="Image" height="48px" width="48px">#}
                            {#</div>#}
                            {#<div class="col-md-10" style="padding-left: 0px">#}
                                {#<strong>Mica</strong>#}
                                {#<p>Kapag kasi nag ano ka gan aksd hawe asd ad hae hqwej basdb qwbe mqwbe mqwbdasmdb amsnbd amsdb mqweb mabsdmb asmdb amsdb qmwnbe amsndb asdasdb asnd qhwew vwe asd qwe asd. Kapag qwe qwie qeyuqeasd. </p>#}
                                {#<button type="button" class="btn btn-primary"><span class="badge">1k</span> found helpful</button>#}
                                {#<button type="button" class="btn btn-default"><span class="badge">23</span> found not helpful</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                    {#<li class="list-group-item">#}
                        {#<div class="row">#}
                            {#<div class="col-md-2" style="margin-right: -20px">#}
                                {#<img src="avatars/1.jpg" class="img-responsive img-circle" alt="Image" height="48px" width="48px">#}
                            {#</div>#}
                            {#<div class="col-md-10" style="padding-left: 0px">#}
                                {#<strong>Inday</strong>#}
                                {#<p>Kapag kasi nag ano ka gan aksd hawe asd ad hae hqwej basdb qwbe mqwbe mqwbdasmdb amsnbd amsdb mqweb mabsdmb asmdb amsdb qmwnbe amsndb asdasdb asnd qhwew vwe asd qwe asd. Kapag qwe qwie qeyuqeasd. </p>#}
                                {#<button type="button" class="btn btn-default"><span class="badge">1k</span> found helpful</button>#}
                                {#<button type="button" class="btn btn-primary"><span class="badge">23</span> found not helpful</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                    {#<li class="list-group-item">#}
                        {#<div class="row">#}
                            {#<div class="col-md-2" style="margin-right: -20px">#}
                                {#<img src="avatars/5.jpg" class="img-responsive img-circle" alt="Image" height="48px" width="48px">#}
                            {#</div>#}
                            {#<div class="col-md-10" style="padding-left: 0px">#}
                                {#<strong>Cha</strong>#}
                                {#<p>Kapag kasi nag ano ka gan aksd hawe asd ad hae hqwej basdb qwbe mqwbe mqwbdasmdb amsnbd amsdb mqweb mabsdmb asmdb amsdb qmwnbe amsndb asdasdb asnd qhwew vwe asd qwe asd. Kapag qwe qwie qeyuqeasd. </p>#}
                                {#<button type="button" class="btn btn-default"><span class="badge">1k</span> found helpful</button>#}
                                {#<button type="button" class="btn btn-default"><span class="badge">23</span> found not helpful</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}

        </div>

        <div class="col-md-3">
            <div class="mt-5"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><strong>Loudest Shouts of the week</strong></h5>
                </div>
                <div class="panel-content">
                    <div class="list-group">
                        <a href="#" class="list-unstyled">1. Bakit kasi ganun?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">2. Ang kwento ng lobo
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"><i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">3. San ba ako nagkulang?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 1234215|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">4. WALANG FOREVER. Hindi ka
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">5. #FafaMhack <br>
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">6. Bakit kasi ganun?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">7. Ang kwento ng lobo
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"><i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">8. San ba ako nagkulang?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12312345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">9. WALANG FOREVER. Hindi ka
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">10. #FafaMhack <br>
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default mt-3">
                <div class="panel-heading">
                    <h5 class="panel-title"><strong>Top advices of the week</strong></h5>
                </div>
                <div class="panel-content">
                    <div class="list-group">
                        <a href="#" class="list-unstyled">1. "Ganto kasi yan kapag nagmh.."</a>
                        <a href="#" class="list-unstyled">2. "Minsan may mga bagay talag.."</a>
                        <a href="#" class="list-unstyled">3. "Bakit pa kasi natin kailan.."</a>
                        <a href="#" class="list-unstyled">4. "Wag mo dapat gawin yun kas.."</a>
                        <a href="#" class="list-unstyled">5. "Ndi dapat natin nilalagay .."</a>
                        <a href="#" class="list-unstyled">6. "Ganto kasi yan kapag nagma.."</a>
                        <a href="#" class="list-unstyled">7. "Minsan may mga bagay talag.."</a>
                        <a href="#" class="list-unstyled">8. "Bakit pa kasi natin kailan.."</a>
                        <a href="#" class="list-unstyled">9. "Wag mo dapat gawin yun kas.."</a>
                        <a href="#" class="list-unstyled">10. "Ndi dapat natin nilalagay .."</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
