{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-9 bg-faded">
            {# SHOUTS FEED #}
            <h2 class="mt-5 text-center"><strong>Shouts Feed</strong></h2>
            <hr>
            <div class="row">
                <div class="text-center">
                    Filter problems by
                </div>
            </div>
            <div class="row">
                {% include 'shout/shout_feed_content.html.twig' %}
            </div>
            <hr>
            <div class="pull-right mt-1">
                <div class="navigation">
                    {{ knp_pagination_render(shouts) }}
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="text-center" style="margin-top: 34px"><a href="{{ path('shout_new') }}" class="btn btn-primary btn-round btn-lg"><i class="fa fa-plus"></i> New Shout</a></div>
            <hr>
            {# GET TOP SHOUTS OF THE WEEK #}
            {{ render(controller('AppBundle:Top:topShouts')) }}
            {# GET TOP ADVICES OF THE WEEK #}
            {{ render(controller('AppBundle:Top:topAdvices')) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/app/js/reaction.js') }}"></script>
{% endblock %}

