{% extends "base.html.twig" %}

{% block title %}
    {{ shout.title }}
{% endblock %}


{% block content %}
    {% set slug = shout.slug %}
    {% set user = shout.user.username %}
    <div class="row">
        {#<div class="col-md-3"></div>#}
        <div class="col-md-8 offset-md-2 bg-faded">
            <div class="panel panel-default">
                <form class="p-3" action="" method="post" role="form">
                    <div class="panel-heading">
                        <h4 class="text-center">"{{ shout.title }}"</h4>
                        <p class="text-center mt-0" style="margin-top: -10px">
                            <span class="label label-danger">{{ "now"|date('Y') - shout.user.dob|date('Y') }} years old</span>
                            <span class="span label label-warning"><i>{{ shout.createdAt|date() }}</i></span>
                        </p>
                        <hr>
                    </div>
                    <div class="panel-body clear-fix">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          arfix">
                        <p>{{ shout.body|md2html }}</p>
                    </div>
                    <hr>
                    <div class="panel-footer">
                        <div class="text-center">

                            {% if app.user|isLoud(shout) %}
                                <span class="btn btn-primary btn-loud" data-id="{{ slug }}" data-is-loud="true"><i class="fa fa-bullhorn"></i> Make It Loud</span>
                            {% else %}
                                <span class="btn btn-outline-primary btn-loud" data-id="{{ slug }}" data-is-loud="false"><i class="fa fa-bullhorn" title="loud this"></i> Make It Loud</span>
                            {% endif %}

                            {% if app.user|isLove(shout) %}
                                <span class="btn btn-danger btn-love" data-id="{{ slug }}" data-is-love="true"><i class="fa fa-heart"></i>Love</span>
                            {% else %}
                                <span class="btn btn-outline-danger btn-love" data-id="{{ slug }}" data-is-love="false"><i class="fa fa-heart-o" title="love this"></i> Love</span>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="media">
                            <a class="media-left mr-2" href="#">
                                <img class="img-rounded" src="/{{ app.user.avatar }}" style="width: 64px; height: 64px;">
                            </a>
                            <div class="media-body">
                                {#<h4 class="media-heading"><a class="" href="{{ path('profile_show', {username: app.user.username}) }}">{{  app.user.username }}</a></h4>#}
                                {#<div class="">#}
                                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                {#{{ form_start(form) }}#}
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content)}}
                                {{ form_errors(form.content) }}
                                {#{{ form_widget(form) }}#}
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default mt-3">post</button>
                                </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                    <hr>

                    {# ADVICE #}
                    {% include 'shout/_advice.html.twig' %}

            </div>

        </div>
        </form>
    </div>
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/app/js/reaction.js') }}"></script>
{% endblock %}


