{% extends "base.html.twig" %}

{% block content %}
    {% set slug = shout.slug %}
    {% set user = shout.user.username %}
    <div class="row">
        {#<div class="col-md-3"></div>#}
        <div class="col-md-12">
            <div class="panel panel-default">
                <form class="p-3" action="" method="post" role="form">
                    <div class="panel-heading">
                        <h4 class="text-center">"{{ shout.title }}"</h4>
                        <p class="text-center mt-0" style="margin-top: -10px"> by
                            <img class="img-circle img-no-padding img-responsive" height="32px" width="32px" src="{{ asset('assets/img/faces/kaci-baum-2.jpg') }}" alt="">
                            <a href="{{ path('profile_show', {username: user}) }}">{{ user }}</a>
                            <i class="small">{{ shout.createdAt|date() }}</i>
                        </p>
                        <hr>
                    </div>
                    <div class="panel-body clearfix">
                        <p>{{ shout.body }}</p>
                    </div>
                    <hr>
                    <div class="panel-footer">
                        <div class="text-center">

                            {% if app.user|isLoud(shout) %}
                                <span class="btn btn-primary btn-loud" data-id="{{ slug }}" data-is-loud="true"><i class="fa fa-bullhorn"></i>Loud</span>
                            {% else %}
                                <span class="btn btn-outline-primary btn-loud" data-id="{{ slug }}" data-is-loud="false"><i class="fa fa-bullhorn" title="loud this"></i> Loud</span>
                            {% endif %}

                            {% if app.user|isLove(shout) %}
                                <span class="btn btn-danger btn-love" data-id="{{ slug }}" data-is-love="true"><i class="fa fa-heart"></i>Love</span>
                            {% else %}
                                <span class="btn btn-outline-danger btn-love" data-id="{{ slug }}" data-is-love="false"><i class="fa fa-heart-o" title="love this"></i> Love</span>
                            {% endif %}

                            <div class="mt-3">
                                <a class="text-danger" href="{{ path('shout_show', {slug: shout.slug}) }}">GIVE ADVICE</a>
                            </div>
                        </div>
                        <hr>
                    </div>

                    {# ADVICE #}
                    <div class="media mt-3 mb-3">
                        <a class="media-left mr-2" href="#">
                            <img class="img-circle" src="{{ asset('assets/img/faces/joe-gardner-2.jpg') }}" style="width: 84px; height: 84px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a class="" href="{{ path('profile_show', {username: advice.user.username}) }}">{{ advice.user.username }}</a></h4>
                            {{ advice.content }}
                            <div>
                                {% if app.user|is_helpful(advice) %}
                                    <span class="btn btn-primary btn-round btn-sm mt-2 btn-helpful" data-id="{{ advice.id }}" data-is-helpful="true"><i class="fa fa-thumbs-up"></i>Helpful</span>
                                {% else %}
                                    <span class="btn btn-outline-primary btn-round btn-sm mt-2 btn-helpful" data-id="{{ advice.id }}" data-is-helpful="false"><i class="fa fa-thumbs-o-up"></i>Helpful</span>
                                {% endif %}

                                <span class="btn btn-outline-danger btn-round btn-sm mt-2"><i class="fa fa-thumbs-o-down"></i>Not Helpful</span>
                            </div>
                        </div>
                    </div>

            </div>

        </div>
        </form>
    </div>
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/app/js/reaction.js') }}"></script>
{% endblock %}


