{% extends "AdminBundle::base.html.twig" %}

{% block title %}Shouts' Lists{% endblock %}
{% block header %}Manage Shouts{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col-md-12">
            <div class="card">
                <div class="header">
                   <h4 class="title">Shouts List</h4>
                    </div>
    
            <div class="content table-responsive table-full-width">
    	          <table class="table table-hover">
                  <thead> 
                     <th>ID</th>
                     <th>Title</th>
                     <th>Content</th>
                     <th>Date Created</th>
                     <th></th>                                    	  
                    </thead>			
		
       			<tbody>
				{% for shout in shout %}
				<tr>
				<td> {{shout.id}} </td>
				<td> {{shout.title}} </td>
				<td> {{shout.body}} </td>

				<td> {{shout.createdAt|date('M d, Y')}} </td>
				<td> <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">&nbsp;<a href="{{ path('shout_show', {'slug': shout.slug} ) }}">VIEW SHOUT</a></button>
				</td>
				
				{% endfor %}
				</tr>
				</tbody>

				</table>
			</div>
		</div>
	</div>
	</div>
</div>


{% endblock %}


{% block js %}
<script> 
	$('#nav-shout').addClass('active');
</script>
{% endblock %}
