{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
	Users Profile
{% endblock %}

{% block header %}Manage Users{% endblock %}

{% block content %}
<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users </h4>
                                <p class="category">List of users</p>
                                <div class="pull-right"><a href="{{path('admin_user_new')}}"><button class="btn btn-success">Add Administrator +</a></button>

                            </div>

                            <div class="pull-left"> 
                            <form class="navbar-form" role="search">
                                 <div class="input-group add-on">
                                    <input class="form-control" style = "color:black" placeholder="Search" name="search" id="srch-term" type="text">
                                        <div class="input-group-btn">
                                             <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                         </div>
                                </div>
                             </form>
                             {% if app.request.get('search') is not empty %}
                                <i> results for <b> "{{search}}" </b> </i> 
                                {% endif %}
                             </div>


                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead align="center">
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Birthdate</th>
                                        <th>Gender</th>
                                        <th>Enabled</th>
                                        <th>Action</th>

                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        	<tr align="center">
                                            <td>{{user.id}}</td>
                                            <td>{{user.username}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.roles[0]}}</td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.dob|date('M d, Y')}}</td>
                                            <td>{{user.gender}}</td>
                                            <td> 
                                            <input class="form-check-input enabled" 
                                            style="
                                            -ms-transform: scale(1.5); /* IE */ 
                                            -moz-transform: scale(1.5); /* FF */  
                                            -webkit-transform: scale(1.5); /* Safari and Chrome */ 
                                            -o-transform: scale(1.5); /* Opera */  
                                            padding: 15px;"
                                            
                                            type="checkbox" {%if user.enabled %} checked {% endif %} data-id="{{user.id }}">
                                            </td>
                            
                                            <td><button class="btn btn-info">
                                            <a href="{{ path('admin_user_edit', {id:user.id} ) }}"> <span class="ti-pencil"></span></a></button>

                                            <button class="btn btn-danger" onClick="{return validate();}">
                                            <a href="{{ path('admin_user_delete', {id:user.id} ) }}">  
                                            <span class="ti-trash"></span></a></button>

                                            </td>
                
                                        </tr>

                                        {% else %}
                                            <td><b>No results found</b></td>
                                            
      
                                         {% endfor %}                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block js %}
<script> 
    $('#nav-user').addClass('active');
</script>

<script language='JavaScript'>
    function validate()
    {
      conf = confirm("Are you sure you want to delete new user?");
      if (conf)
        return true;
      else
          return false;
    }
</script>

<script>
    $('.enabled').on("click", function() {
    if(this.checked) {
        console.log($(this).data('id'));
        mark($(this).data('id'), 1);
    }
    else {
        console.log($(this).data('id'));
        mark($(this).data('id'), 0);
    }
    });

    function mark(id, isEnabled)
    {
        $.ajax({
            url:"user/"+id+"/enabled",
            data: {isEnabled: isEnabled},
            type: "POST",
            error: function() {
                alert("Failed Request");                
            }
        })




    }
</script>


{% endblock %}