{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
	Users Profile
{% endblock %}

{% block header %}Manage Users{% endblock %}

{% block content %}
<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users </h4>
                                <p class="category">List of users</p>
                                <div class="pull-right"><a href="{{path('admin_user_new')}}"><button class="btn btn-success">Add Administrator +</a></button>
                                
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead align="center">
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Enabled</th>
                                        <th>Role</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Birthdate</th>
                                        <th>Gender</th>
                                        <th>Action</th>

                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        	<tr align="center">
                                            <td>{{user.id}}</td>
                                            <td>{{user.username}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.isActive}}</td>
                                            <td>{{user.roles[0]}}</td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.dob|date('M d, Y')}}</td>
                                            <td>{{user.gender}}</td>
                                            <td><button class="btn btn-info">
                                            <a href="{{ path('admin_user_edit', {id:user.id} ) }}"> <span class="ti-pencil"></span></a></button>

                                            <button class="btn btn-danger">
                                            <a href="{{ path('admin_user_delete', {id:user.id} ) }}">  
                                            <span class="ti-trash"></span></a></button>

                                            </td>
                
                                        </tr>
      
                                         {% endfor %}                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block js %}
<script> 
    $('#nav-user').addClass('active');
</script>
{% endblock %}